<div class="inner_container">
  <div class = "row">
    <div class="left_user_details col-md-2">
      <div class="profile_large">
        <%= image_tag current_user.image, class:"img-rounded" %>
      </div>
      <div class="user_name divided">
        <h3><%= current_user.name %></h3>
        <p><%= current_user.nickname %></p>
      </div>
      <div class="join_date divided">
        <p>
          <span class= "glyphicon glyphicon-time"></span>
          Joined on <%= @date_joined %>
        </p>
      </div>
      <div class="col-md-4">
        <h3>Organizations  </h3>
          <% if @orgs.count == 0 %>
            <small>You do not belong to any organizations.</small>
          <% else %>
            <% @orgs.each do |org| %>
                <small><%= org[:login] %></small>
            <% end %>
          <% end %>
        </p>
      </div>
      <div class="user_stats col-md-12 divided">
        <div class="col-md-4">
          <p class="stat">
            <%= @followers.count %> <span class= "glyphicon glyphicon-menu-down"></span>

            <span class="stat_text">Followers</span>

            <div class="stat_toggle well" id="stat_toggle">
              <h3>
                Followers
              </h3>
              <% @followers.each do |follower| %>
                <p><%= link_to follower[:login], "https://github.com/#{follower[:login]}" %></p>
              <% end %>
            </div><!--toggled div-->
          </p>
        </div> <!--colmd4-->

        <div class="col-md-4">
          <p class="stat">
            <%= @starred_repos.count %><span class= "glyphicon glyphicon-menu-down"></span>
            <span class="stat_text">Starred</span>

            <div class="stat_toggle well">
              <h3>
                Starred Repositories
              </h3>
              <% @starred_repos.each do |repo| %>
              <p>
                  <%= link_to repo[:name], "https://github.com/#{repo[:owner][:login]}/#{repo[:name]}"%>
                </p>
              <% end %>
            </div><!--toggled div-->

          </p>
        </div> <!--colmd4-->

        <div class="col-md-4">
          <p class="stat">
            <%= @users.count %><span class= "glyphicon glyphicon-menu-down"></span>
            <span class="stat_text">Following</span>
          </p>
          <div class="stat_toggle well">
            <h3>
              Users You Follow
            </h3>
            <% @users.each do |user| %>
            <p>
              <%= link_to user[:login], "https://github.com/#{user[:login]}" %>
            </p>
            <% end %>
          </div><!--toggled div-->
        </div> <!--colmd4-->
      </div> <!--user_stats-->

    </div><!--left-user-details-->

    <div class="right_top_data col-md-10">
      <ul class="nav nav-tabs">
        <li class="active"><%= link_to "Contributions", "#" %></li>
        <li><%= link_to "Repositories", "#" %></li>
        <li><%= link_to "Public activity", "#" %></li>
        <li class="navbar-right"><%= link_to "Edit Profile", "#" %></li>
      </ul>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Popular Repositories</div>
          <div class="panel-body">
            <table class="table scrollable">
              <% @repos.each do |repo| %>
              <tr>
                <td>
                  <i class="fa fa-code-fork"></i>
                  <%= link_to repo[:name], "https://github.com/#{repo[:owner][:login]}/#{repo[:name]}"  %>
                </td>
              </tr>
              <% end %>
            </table>
          </div><!--panel body-->
        </div><!--panel-->
      </div><!--colmd6-->

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Starred repos</div>
          <div class="panel-body">
            <table class="table">
              <% @starred_repos.each do |repo| %>
              <tr>
                <td>
                  <i class="fa fa-book"></i>
                  <%= link_to repo[:name], "https://github.com/#{repo[:owner][:login]}/#{repo[:name]}"%>
                </td>
                <td>
                  <%= repo[:owner][:login] %>
                  <span class= "glyphicon glyphicon-star"></span>
                </td>
              </tr>
              <% end %>
            </table>
          </div><!--panel body-->
        </div><!--panel-->
      </div><!--colmd6-->

      <%= render partial: 'shared/contributions' %>

    </div><!--right_top_data-->
  </div> <!--row-->
</div><!--container-->

      <%= render partial: 'shared/data' %>

<script>
$(document).ready(function(){
  $('.stat_toggle').hide();
  $('.stat').click(function(){
    console.log(this)
    $(this).siblings().first().toggle();
  });
});
</script>
