<table class="table text-center streaks">
  <tr>
    <td>
      <small>Current Streak</small>
      <h3><%= @current_streak[0] %></h3>
      <small><%= @current_streak[1] %></small>
    </td>
    <td>
      <small>Longest Streak</small>
      <h3><%= @yearly_streak[0] %></h3>
      <small><%= @yearly_streak[1] %></small>
    </td>
    <td>
      <small>Contributions in the last year</small>
      <h3><%= @contributions[0] %></h3>
      <small><%= @contributions[1] %></small>
    </td>
  </tr>
</table>
