<h2>Contributions</h2>
<p>
  <%= @contributions[1] %>
</p>
<p>
  <%= @contributions[0] %>
</p>

<h2>Longest Streak</h2>
<p>
  <%= @yearly_streak[1] %>
</p>
<p>
  <%= @yearly_streak[0] %>
</p>

<h2>Current Streak</h2>
<p>
  <%= @current_streak[1] %>
</p>
<p>
  <%= @current_streak[0] %>
</p>
